.bg-cnfpt-primary-1 {
    background-color: #050088;
}

.text-cnfpt-primary-1 {
    color: #050088;
}

.bg-cnfpt-primary-2 {
    background-color: #FFFFFF;
}

.text-cnfpt-primary-2 {
    color: #FFFFFF;
}

.bg-cnfpt-secondary {
    background-color: #fb6a70;
}

.text-cnfpt-secondary {
    color: #fb6a70;
}

.bg-cnfpt-blanc{
    background-color: #4d7ef1;
}

.text-cnfpt-bleu{
    color: #4d7ef1;
}